
/* region ------ colors ------*/

$mycolor: lightblue;
$c_white: #ffffff;
$c_grey: #EEEEEE;
$c_grey_dark: #E2DFDF;
$c_grey_darker: #5F5D5D;
$c_grey_darkest: #525252;
$c_black: #000000;
$c_peach: #e96b6b;
$c_blue_dark:#254670;

/* #endregion ------ colors ------- */

/* region ------ typography ------*/

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.3em 0;
    padding: 0 0 0.3em 0;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0 auto;
    font-size: 1.6em;
    text-transform: uppercase;
    padding: 0;
    max-width: 1200px;
    font-weight: 900;
}

h2 { /*font-size: 30px;*/
    font-size: 2em;
    font-weight: 300;
}

h3 { /*font-size: 25px;*/
    font-size: 1.3em;
    font-weight: 300; /*font-family: 'Open Sans', sans-serif;*/
    margin-bottom: 0.5em;
    font-weight: 300;
    text-transform: uppercase;
}

h4 { /*font-size: 20px;*/
    font-size: 1.3em;
    font-weight: 300;
    text-transform: uppercase; /*border-bottom: 1px solid #ccc; display: inline-block; margin-bottom: 0.8em;*/
}

h5 { /*font-size: 17px;*/
    font-size: 1.2em;
    font-weight: 300; /*text-transform: uppercase; border-bottom: 1px solid #ccc; display: inline-block; margin-bottom: 0.8em;*/
}

h6 { /*font-size: 15px;*/
    font-size: 1.1em;
    font-weight: 300; /*text-transform: uppercase; border-bottom: 1px solid #ccc; display: inline-block; margin-bottom: 0.8em;*/
}


/* #endregion ------ typography ------- */

/* region ------ breakpoints ------*/

@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 1400px) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 1024px) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 768px) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 425px)  { @content ; }
   }
   @else if $point == mobile {
      @media (max-width: 424px)  { @content ; }
 
   }
 }

 .responsive {

    .mobile {
        background-color: lightcoral;

            @include breakpoint(mobile) {
                display:block;
                }

            @include breakpoint(phablet) {
                display:block;
                }
            
            @include breakpoint(tablet) {
                display:none;
                }

            @include breakpoint(laptop) {
                display:none;
                }

            @include breakpoint(desktop) {
                display:none;
                }
    }

    .tablet {
        background-color: lightgreen;

            @include breakpoint(mobile) {
                display:none;
                }

            @include breakpoint(phablet) {
                display:none;
                }
            
            @include breakpoint(tablet) {
                display:block;
                }

            @include breakpoint(laptop) {
                display:none;
                }

            @include breakpoint(desktop) {
                display:none;
                }
    }
    .laptop {
        background-color: lightcyan;

        @include breakpoint(mobile) {
            display:none;
            }

        @include breakpoint(phablet) {
            display:none;
            }
        
        @include breakpoint(tablet) {
            display:none;
            }

        @include breakpoint(laptop) {
            display:block;
            }

        @include breakpoint(desktop) {
            display:none;
            }
    }
    .desktop {
        background-color:lightblue;

        @include breakpoint(mobile) {
            display:none;
            }

        @include breakpoint(phablet) {
            display:none;
            }
        
        @include breakpoint(tablet) {
            display:none;
            }

        @include breakpoint(laptop) {
            display:none;
            }

        @include breakpoint(desktop) {
            display:block;
            }
    }
}

 /* #endregion ------ breakpoints ------- */


/* region ------ Base ------*/

html {
    overflow: hidden;
    overflow-y: auto;
}

body {
    background-color: $c_grey;
    color: $c_black;
    font-size: 16px;
    line-height: 1.9em;
    text-align: center;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;

    .content {
    width: 100%;
    background-color:$c_white;
    max-width: 1400px;
    margin: 0 auto;

    }
}



.clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0;
    float:none;
}

img {
    width:100%;
}



/* #endregion ------ Base ------- */

/* region ------ topnav ------*/

.top_nav {
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom:30px;
    padding: 20px;

    .logo {
        height: 30px;
        width: 90px;
        float: left;

        @include breakpoint(mobile) {
            display:none;
            }

            
            @include breakpoint(phablet) {
                display:none;
                }

            @include breakpoint(tablet) {
                display:block;
            }

        h2 {
            color:$c_white;
            text-transform: capitalize;
            font-weight: 900;
        }
    }

    .navigation {
        float:right;
        margin-right: 30px;

        @include breakpoint(mobile) {
            display:none;
            }

            @include breakpoint(phablet) {
                display:none;
                }
                @include breakpoint(tablet) {
                    display:block;
                }
        

        a {
            color:$c_white;
            text-transform: uppercase;
            text-decoration: none;
            margin-left: 10px;
            transition: 0.4s;
            font-size: 1em;
            padding-bottom: 2px;

            &:hover {
                color:$c_peach;
                border-bottom: 1px solid $c_peach;
                padding-bottom: 2px;
              }
        }
    }

.nav_mobile {

    @include breakpoint(tablet) {
        display:none;
        }
a
{
  text-decoration: none;
  color:$c_black;
  
  transition: color 0.3s ease;
}

a:hover
{

  &:hover {
    color:$c_peach;
  }
}

#menuToggle
{
  display: block;
  position: relative;
  top: -10px;
  left: 0px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;

  input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: $c_grey;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

span:first-child
{
  transform-origin: 0% 0%;
}

span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $c_black;
}


input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: $c_grey;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

}

}

/* #endregion ------ topnav ------- */


/* region ------ introduction ------*/

.introduction {
    background-image: url('../images/hero_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding-bottom: 10px;
    color: $c_white;

    .intro_copy {
        padding: 200px 0 200px 0;

        h1.logo_txt {
            text-transform: capitalize;
            font-size: 3.5em;
            margin-bottom: 40px;

            @include breakpoint(tablet) {
                font-size: 8.5em;

             }

        }

        h3.tagline {
            text-transform: capitalize;
            font-weight: 300;
            text-transform: initial;

            span {
                color:$c_peach;
            }
        }

    }

    .social {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        max-width: 220px;
        
        .social_icon {
            height: 25px;
            width: 25px;
            background: $c_white;
            border-radius: 50%;
            float: none;
            margin: 0 auto;
        }
    }
}

/* #endregion ------ introduction ------- */


/* region ------ about us ------*/

.about_us {
    background-image: url('../images/whiteout_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px 10px 20px 10px;

    .story {

        @include breakpoint(tablet) {
            float:left;
            width:50%;
            }
        .story_wrap {
            padding:10px;
        h4 {
            text-transform: capitalize;
            font-weight: 900;
            @include breakpoint(tablet) {
            text-align:left;    
                }
        }

        h1 {

            text-transform: capitalize;
            font-weight: 900;
            font-size: 3.6em;
            @include breakpoint(tablet) {
                text-align:left;    
                    }
        }

        p{ text-align: left;}

    }
}

    .picture {

        @include breakpoint(tablet) {
            float:left;
            width:50%;

            img {
                width:80%;
            }
            }
    }
}

/* #endregion ------ about us ------- */

/* region ------ app ------*/

.app_details {
    background-image: url('../images/dark_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .mobile {
        background-color:$c_blue_dark;
        height: 100%;
        min-height: 620px;
        webkit-clip-path: circle(70.7% at 50% 0);
        clip-path: circle(70.7% at 50% 0);
        margin-bottom: -200px;

        @include breakpoint(tablet) {
            float:left;
            width:47%;
            -webkit-clip-path: circle(70.7% at 0 51%);
            clip-path: circle(70.7% at 0 51%);
            margin-bottom: 0px;
        }

        @include breakpoint(laptop) {
            -webkit-clip-path: circle(80.7% at 0 51%);
            clip-path: circle(80.7% at 0 51%);
        }

        @include breakpoint(desktop) {
            clip-path: circle(100% at 0 51%);
            
        }

            .phone_cutout {

                @include breakpoint(tablet) {
                    margin-top: 130px;
                }

                @include breakpoint(desktop) {
                    margin-top: 90px;
                }


                img {
                    width:90%;

                    @include breakpoint(tablet) {
                        width:40%;
                    }
                }
            }
        }



    .features {
        color:$c_white;
        padding: 10px;

        
        @include breakpoint(tablet) {
            float:right;
            width:47%;
            margin-top:30px;
            
        }

        @include breakpoint(desktop) {
            float: right !important;
            width: 40%!important;
            
        }

        .features_wrap {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;

        .details {
            margin-bottom: 50px;



            @include breakpoint(tablet) {
                width: 160px;
                margin-bottom:30px;
                
                p {
                    font-size: 0.8em;
                    line-height: 16px;
                }
            }

            .icon {
                height: 80px;
                width: 80px;
                margin: 0 auto;
            }

            .handshake {
                background-image: url('../images/hand_shake.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .letter {
                background-image: url('../images/envelopes.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .chat {
                background-image: url('../images/chat.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .chart {
                background-image: url('../images/charts.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            h5 {
                margin-top: 20px;
                text-transform: capitalize;
            }
        }


    }

        @include breakpoint(tablet) {
            float:left;
            width:50%;
        }
    }


}

/* #endregion ------ app ------- */

/* region ------ contact us ------*/

.contact_us {

    @include breakpoint(laptop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .message {
        background-color: $c_grey;
        padding: 15px;
        text-align: left;

        @include breakpoint(desktop) {
            padding-top: 70px;
            }

        .message_wrap {

            @include breakpoint(tablet) {
            width: 80%;
            margin: 0 auto;
            float: none;
            }

            h3 {
                text-transform: initial;
                font-size: 1.6em;
            }
            span {
                color:$c_peach;
                font-weight: 900;
            }
        }
    }

    .contact_form {
        @include breakpoint(laptop) {
            grid-column: span 2 / auto;
        }

        .form_wrap {

            padding: 20px;

            p{
                color:#cccccc;
                text-align: left;
            }
            input[type="text"] {
                line-height: 30px;
                border: none;
                border-bottom: 2px solid $c_grey;
                width: 100%;
            }
            .msg_wrap {

                .user_message {
                    width: 100%;
                    height: 150px;
                    
                }
            }

            .form_social_btn {
                .submit_btn {
                    a.button {
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        border-radius: 2px;
                        font-size: 18px;
                        text-transform: capitalize;
                        line-height: 40px;
                        display: inline-block;
                        width: 100%;
                        max-width:330px;
                        margin: 10px 0 5px 0;
                        font-weight: 400;
                        background-color: transparent;
                        text-align: center;
                        cursor: pointer;
                        border: 1px solid $c_peach;
                        color: $c_peach;
                        float: left;
                        transition: 0.4s;

                        &:hover {
                            background-color:$c_peach;
                            color:$c_white;
                          }
                     }

                 }
            }
    }
}
}


/* #endregion ------ contact us  ------- */


/* region ------ footer ------*/

.footer_area {
    background-color: $c_black;
    color:$c_white;
    padding: 30px;

    .footer_wrap{
        max-width: 600px;

        h2 {
            font-weight: 700;
            font-size:1.5em;
            text-transform: capitalize;
            text-align: left;
        }

        p {
            font-size:0.8em;
            text-align: left;
        }

        .details {
            text-align: left;
        }

        .social_media {

            width: 80px;
            float:left;
            margin: 0 auto;
            margin-top: 20px;
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: (1fr)[4];
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 5px;

            .social_link {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background-color: $c_peach;
            }
        }

        .navigation {
            background-color: $c_black;
            float: left;
            text-align: left;
            margin-top: 20px;
            a {
                color:$c_white;
                text-transform: uppercase;
                text-decoration: none;
                margin-left: 10px;
                transition: 0.4s;
                font-size: 0.5em;

                span{
                    color: $c_peach;
                }
    
                &:hover {
                    color:$c_peach;
                  }
            }
        }
    }

}


/* #endregion ------ footer ------- */